* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'Monteserrat', sans-serif;
  font-size: 1rem;
  color: #404040;
  line-height: 1.6; 
}

.main-image {
  object-fit: cover;
  height: 40vh;
  width: 100%;
  object-position: 20% 30%;
}
.about-image {
  height: 30vh;
  max-width: 600px;
  box-shadow: 5px 5px 0px black, 10px 10px 0 #FFE600;
}

h1, h2 {
  font-weight: 700;
}

.subtitle {
  font-size: 1.125;
}

.section-title {
  font-size: 1.125;
  color:#000;
  margin-top: 1.125em;
}
/*Landing Page*/
.landing p {
  padding-top: 8em;
  padding-bottom: 8em;
  text-align: center;
  font-size: 2rem;
  display: block;
  color: white;
  margin-bottom: 0;
}

.landing {
  background-size: cover;
  background-color: black;
}

@media(min-width: 700px) {
  .hero {
    display: flex;
    width: 100%;
  }

  .landing {
    width: 50%;
    margin: 0 .5em;
  }

  .main-image {
    width: 50%;
    margin: 0 0.5em;
    height: 625px;
  }
}
/* Navigation */
header {
  background: black;
}

.nav-btn {
  border: 0;
  background: 0;
  color: #fff;
  cursor: pointer;
  padding: .5em;
  margin-left: auto;
  font-size: 1.5em;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms;
}

.nav-btn:hover {
  transform: scale(1.5);
  color: yellow;
}

.nav {
  position: fixed;
  background: #000;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms;
  margin-bottom: 0;
  z-index: 2;
  
}

.open-nav {
  transform: translateX(-100%);
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.nav-link {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
}

.nav-link:hover {
  color: #FFE600;
}

@media (min-width: 700px) {
  .nav-btn {
    display: none;
  }

  .nav {
    position: initial;
    background: transparent;
  }

  .nav-list {
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
  }

  .nav-item {
    margin-left: 2em;
  }

  .nav-link {
    display: inline-block;
    font-size: 1rem;
    padding: .5em;
    margin: .5em;
  }

 .nav-link:hover,
 .nav-link:active {
  color: #FFE600;
}

  .nav-right {
    margin-left: auto;
  }
}

/*FOOTER*/
.social-list {
  margin: 0 0 2em;
  display: flex;
  justify-content: center;
}

.social-link {
  font-size: 1.75rem;
  margin: 0 .5em;
}

.footer {
  background: #ebebeb;
  text-align: center;
  margin-bottom: 0;
}

.footer-fineprint {
  margin-bottom: 0;
}

@media(min-width: 700px) {
  .footer-container {
    display: flex; 
    justify-content: space-around;
  }

  .footer-text {
    font-weight: 700;
    font-size: 1.5em;
    margin: 1.5em 10em;
    color: rgb(227, 155, 150);
  }

  .social-list {
    margin: 1.5em 10em;
    display: flex;
    justify-content: space-around;
  }

  .social-link {
    font-size: 2.5em;
    margin: 0 1.5em;
  }

  .contact-container {
    display: flex;
    justify-content: space-around;
  }

  .contact-header {
    margin:0 0 2em 8em;
  }

  .contact {
    margin-right: 5em;
  }

  .contact-text {
    margin-right: 8em;
      font-size: 1.5rem
  }
}

/*ABOUT ME*/
.about {
  text-align: center;
  font-family: 'Monteserrat', sans-serif;
}
.main-text {
  text-align: center;
  justify-content: center;
  font-family: 'Monteserrat', sans-serif;
  font-size: 1.5rem;
  
}
.quote {
  font-family: italics;
  font-size: 1.5em;
  margin-left: auto;
  color: grey;
}

@media(min-width: 700px) {
  .about-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .about-image {
    margin-left: 4em;
    
  }

  .main-text {
    justify-content: space-between;
    margin: 1em 5em;
  }

  .text {
    margin: 2.5em 20em;
    margin-top: 1em;
  } 

  .page-title {
    margin-bottom: 0;
  }

  .section-title {
    margin-top: -100px;
    margin-bottom: 0; 
  }

}

/*PROJECTS*/

.projects-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}

.card {
  position: relative;
  z-index: -3;
  min-width: 450px;
  margin: auto;
  border-bottom: 5px solid red;
}

.card-title {
  color: white;
  height: 100px;
}
.card-menu {
  color: #fff;
}
.ruby {
  background: url(https://s3.amazonaws.com/media.skillcrush.com/skillcrush/wp-content/uploads/2015/01/Blog_About-Ruby2.jpg);
}

.angular {
  background: url(https://cdn.auth0.com/blog/illustrations/angular.png);
}

.react {
  background: url(https://bs-uploads.toptal.io/blackfish-uploads/blog/post/seo/og_image_file/og_image/16097/react-context-api-4929b3703a1a7082d99b53eb1bbfc31f.png);
}

.contact-container {
  text-align: center;
  margin-bottom: 5em;
}

@media(min-width: 600px) {
  .projects-grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    margin: 2em;
  }
}

/* Contact */

